# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
# will be overridden by setting in setup.py if deply to scrapyd
default = scrapy01.settings_dev_with_proxy

[deploy]
url = http://ubuntu20-lts:6800/
project = scrapy01
